body {
    font-family: Roboto, Arial;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    font-family: Roboto, Arial;
    border-radius: 8px;
    padding: 5px 30px;
}

.header,
.hero-text,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    padding-left: 20%;
    padding-right: 20%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 10px;
}

.header .title {
    font-size: 20px;
    font-weight: bold;
}

.hero-text-container {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    flex-grow: 0;
    gap: 20px;
}

.hero-text .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 10px;
}

.hero-text .title {
    font-size: 38px;
    font-weight: bold;
}

.hero-text .text {
    font-size: 16px;
}

.hero-text .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #6d747d;
    width: 570px;
    height: 250px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer {
    text-align: center;
}

.hero-text button,
.sign-up-card button {
    background: #3b82f6;
    color: white;
}

.hero-text button {
    border: none;
}

.info-square {
    height: 150px;
    width: 150px;
    border: solid;
    border-color: #3b82f6;
    border-radius: 8px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 30px;
}

.main-content .title {
    font-size: 30px;
    font-weight: bold;
    color: #1d2735;
}

.main-content .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card .text {
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    color: #7a818c;
}

.quote {
    padding: 100px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

.quote .text {
    align-self: center;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
}

.quote .author {
    font-weight: bold;
    align-self: flex-end;
}

.sign-up-card {
    display: flex;
    justify-content: center;
    margin: 60px 50px;
}

.sign-up-card-container {
    background-color: #3b82f6;
    color: white;
    width: 650px;
    padding: 40px 90px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.sign-up-card .title {
    font-weight: bold;
}

.sign-up-card button {
    border-style: solid;
    border-color: white;
}

.footer {
    padding: 50px;
}